    <!-- About Section -->
    <section id="about" class="container content-section">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/>

<p>Modern enterprise application architecture relies on a huge array of patterns and technologies. We'll take you through the process of building resilient, production ready applications and teach you all the patterns, tools, and techniques to deliver successfully.</p>

<p>We'll cover topics such as:</p>
<ul>
	<li>Design Patterns for maintainable software</li>
	<li>Test Driven Development</li>
	<li>DevOps practices such as Monitoring and Instrumentation</li>
	<li>Continuous Deployment</li>
	<li>Configuration patterns</li>
	<li>REST API Implementation</li>
	<li>Microservices</li>
	<li>Asynchronous Messaging</li>
	<li>Scaling and caching</li>
	<li>Legacy system integration and migration</li>
</ul>	
    

    <p>Sign up to our mailing list for more information on course details and dates, as well as early bird pricing for you and your team.</p>


                <br/>
              </div>
        </div>
    </section>
