    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/>
              <p>Stack Mechanics was founded by three friends and colleagues who have been building software for a long time. We’ve seen and built a lot of great systems but we’ve also seen a lot of companies’ projects fail for entirely preventable reasons.</p>
              <p>We’ve banded together to form Stack Mechanics so that we can share what we’ve learnt, offering deep dive bootcamp training on modern software architectures, design patterns for maintainable code, and designing for operations.</p>
                <br/>
              </div>
        </div>
    </section>
