<section id="contact">
	<div class="banner">
		<div class="container">

			<div class="row">
				<div class="col-lg-6">
					<h2>We're currently scheduling dates for 2017</h2>
					<p>Let us know when and where you'd like to train with us, and we'll notify you as soon as
						dates are announced.
					</p>
				</div>
				<div class="col-lg-6">
					<form action="http://stackmechanics.createsend.com/t/d/s/pthtrh/" method="post" class="subscribe">
						<p>
							<label for="fieldName">Name</label><br />
							<input id="fieldName" name="cm-name" type="text" />
						</p>
						<p>
							<label for="fieldEmail">Email</label><br />
							<input id="fieldEmail" name="cm-pthtrh-pthtrh" type="email" required />
						</p>
						<p>
							<label for="fieldukgdd">City</label><br />
							<select id="fieldukgdd" name="cm-fo-ukgdd">
								<option value=""></option>
								<option value="1474950">Sydney</option>
								<option value="1474951">Melbourne</option>
								<option value="1474952">Brisbane</option>
								<option value="1474953">Other</option>
							</select>
						</p>
						<p>
							<label for="fieldukgdh">What would be your preference for deep dive training?</label><br />
							<select id="fieldukgdh" name="cm-fo-ukgdh">
								<option value=""></option>
								<option value="1474954">One Day</option>
								<option value="1474955">Three Days</option>
								<option value="1474956">Five Days</option>
							</select>
						</p>
						<p>
							<button type="submit" class="ctabutton">Get Notified</button>
						</p>
					</form>
				</div>
			</div>

		</div>
		<!-- /.container -->

	</div>
</section>
<!-- /.banner -->