<section id="courses" class="container content-section">
    <div class="row">
        <div class="col-lg-12 lead">
            <h2>Upcoming Courses and Workshops</h2>
        </div>
    </div>
    {% for course in site.courses %}
    <div class="row">
        <div class="col-lg-12 course">
            {% if course.show == true %}
            <h3>{{course.title}}</h3>
            {{course.content}}

            
        </div>
    </div>
    {% if course.dates %}
    <div class="row">
        <div class="col-lg-9 course courserow">
            <table class="table table-striped">

                {% for date in course.dates %}

                <tr>
                    <td><strong>{{date.city}}</strong></td>
                    <td>{{date.dates}}</td>
                    <td>{{date.venue}}</td>
                    <td><a href="{{date.booking-link}}" class="bookbutton">Book Now</a></td>
                </tr>


                {% endfor %}

            </table>
        </div>
    </div>
    {% endif %}

    {% unless course.dates %} 
    <div class="row">
        <div class="col-lg-12 course">
            <p>We're currently planning dates for this course. Sign up for the <a href="#contact" class="page-scroll">mailing list</a> and we'll be in touch.</p> 
        </div>
    </div>
    {% endunless %} 

    {% endif %}
    {% endfor %}

</section>