
<section id="home">
<!-- Header -->
	<div class="intro-header">

		<div class="container">

			<div class="row">
				<div class="col-lg-12">
					<div class="intro-message">
						<h1>.NET software architecture bootcamps</h1>
						<h3>Offering deep dive training on writing and shipping better software</h3>
						<br/>

						<a class="page-scroll find-out-more-button ctabutton" href="#contact">Find out more</a>
					</div>
				</div>
			</div>

		</div>
		<!-- /.container -->

	</div>
	<!-- /.intro-header -->
</section>
